.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  padding-right: 30px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.profile__avatar:hover {
  opacity: 0.2;
  cursor: pointer;
}

@media screen and (max-width: 715px) {
  .profile__avatar {
    padding-left: 101px;
    padding: 3.75px 99px 3.75px 101px;
  }
}
